@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {

}

.album-art {
	border: 2px solid red;
	margin: 25px;
	padding: 20px;
	width: 100px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2px solid red;
	margin: 25px;
	padding: 20px;
	width: 175px;
}

.record-label {

}

.track-list {

}

#about-photo {
	border: 2px solid red;
	margin: 10px;
	padding: 10px;
	width: 250px;
}

#copyright {
	color: red;
	font-size: 15px;
}

#section-about, #section-discography, #section-equipment {
	border: 2px solid red;
	margin: 10px;
	padding: 15px;
}

#text-intro {
	border: 2px solid red;
	margin: 10px;
	padding: 20px;
	background-color: darkgray;
	color: red;
}